body {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F4F4;
    margin: 0 auto;
    position: relative;
}

.title {
    text-align: center;
    color: #0f4c81;
    font-size: 40px;
}

.outer-wrapper {
    min-height: 60vh;
}

.main-wrapper {
    margin-top: 15px;
    max-width: 886px;
    position: relative;
    grid-gap: 20px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.content-box {
    background: #fff;
    border-radius: 5px;
    margin: 10px 0px 86px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    grid-template-columns: 1fr 468px;
    position: relative;
    grid-gap: 55px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.result .area {
    width: 264px;
    height: 310px;
    resize: none;
}

.menu {
    max-width: 440px;
}

.screen {
    grid-template-columns: 1fr 86px;
    position: relative;
    grid-gap: 10px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.actions .nav {
    min-height: 30px;
    min-width: 78px;
    margin-bottom: 10px;
}

.data-box-1,.data-box-2 {
    margin-bottom: 10px;
    margin-left: 4px;
}

.data-box-2 {
    display: none;
}

.data-box-2.activo {
    display: block;
}

#data-1, #data-2 {
    height: 24px;
    width: 334px;
}

.buttons .nav {
    margin: 2px;
    min-height: 52px;
    min-width: 78px;
}

.footer-wrapper {
    background: #0f4c81;
    padding: 1em 0;
    min-height: 134px;
    position: absolute;
    width: 100%;
}
.footer-wrapper .copyrigth {
    text-align: center;
    padding: 14px;
    color: #F2F4F4;
}

.footer-wrapper .social-media {
    align-content: center;
    max-width: 310px;
    margin-right: auto;
    margin-left: auto;
}

.social-media .icon {
    display: inline-block;
    margin-left: 29px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 60%;
    text-align: center;
    color: #ffffff;
}

.icon i {
    font-size: 30px;
    line-height: 60px;
}

.social-media .icon:hover {
    background: #224a6b;
}